<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="chart.js"></script>
    <script src="xuly.js"></script>
    <script src="jquery.js"></script>
    
    <link rel="stylesheet" href="stylesheets/home.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="images/logo.png" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">Smart</span>
                    <span class="profession">Home</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/devices">
                            <i class='bx bx-devices icon'></i>
                            <span class="text nav-text">Devices</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/history">
                            <i class='bx bx-history icon'></i>
                            <span class="text nav-text">History</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Sign Out</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="text">Dashboard</div>
        <div class="dashboard">
            <div class="l-dashboard">
                <div class="date-time" style="position:relative;">
                    <h3 id="time"></h3>
                    <h4>Sunday, March 17, 2022</h4>
                    <p style="position: absolute; bottom: 10px;">Welcome home<br /> it's snowing outside stay safe</p>
                </div>
                <div class="line-chart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="r-dashboard">
                <div class="temperature info">
                    <div class="weather-icon sun-icon"></div>
                    <h1>Temperature: </h1>
                    <div>
                        <h1 style="display: inline" id="currentTemp"></h1>
                        <h1 style="display: inline">ºC</h1>
                    </div>
                </div>
                <div class="humidity info">
                    <div class="weather-icon cloud"></div>
                    <h1>Humidity</h1>
                    <div>
                        <h1 style="display: inline" id="currentHumi"></h1>
                        <h1 style="display: inline">%</h1>
                    </div>
                </div>
                <div class="light info">
                    <img class="weather-icon lux" src="images/lightbulb.png" alt="">
                    <h1>Light</h1>
                    <div>
                        <h1 style="display: inline" id="currentLight"></h1>
                        <h1 style="display: inline">lux</h1>
                    </div>
                </div>
                <div class="light info">
                    <img class="weather-icon lux" style="width:80px; height:80px; top:-20px; right:-18px"
                        src="images/humi.png" alt="">
                    <h1>Soil Misture</h1>
                    <div>
                        <h1 style="display : inline" id="currentSoilMisture"></h1>
                        <h1 style="display: inline">%</h1>
                    </div>
                </div>
                <div class="machine info" >
                    <img class="weather-icon warning"  src="images/alert.png" alt="" id="warningSection" >
                    <h1>warning</h1>
                    <p>Chú ý</p>
                    <p>Nhiệt độ vườn cao</p>

                </div>
            </div>

        </div>
    </section>
    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");
        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");
            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";
            }
        });
        ///
        const ctx = document.getElementById('myChart').getContext("2d");;
        
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [
                    {
                        label: 'Temp',
                        data: [],
                        borderColor: 'red',
                        borderWidth: 1,
                        order: 1,
                        type: 'line',
                        yAxisID: 'y',
                        
                    },
                    {
                        label: 'Humi',
                        data: [],
                        borderColor: 'green',
                        borderWidth: 1,
                        order: 0,
                        yAxisID: 'y1',
                        backgroundColor: 'green',
                        borderColor: 'rgba(54, 162, 235, 1)',
                    },
                    {
                        label: 'Soil',
                        data: [],
                        borderColor: 'black',
                        borderWidth: 1,
                        order: 1,
                        type: 'line',
                    },
                ]
            },
            options: {
                Response: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                stacked: false,
                plugins: {
                    legend: {
                      position: 'right',
                    },
                    title: {
                      display: true,
                      text: 'Chart - temperature - humidity - soil'
                    }
                },
                scales: {
                    x: {
                      display: true,
                      title: {
                        display: true,
                      },
                    },
                    y: {
                      display: true,
                      title: {
                        display: true,
                        text: 'Temperature'
                      },
                      suggestedMin: 0,
                      suggestedMax: 100
                    },
                    y1 : {
                        type: 'linear',
                        display: true,
                        position: 'right',
                        title: {
                            display: true,
                            text: 'Humidity & Soil Moisture'
                        },
                        grid: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                        suggestedMin: 0,
                        suggestedMax: 120
                    },
                  }
            }
       
        });

        socket.on("server-send-soil_graph", function (data) {
            myChart.data.datasets[2].data = data;
            myChart.update();
           
        });
        
        socket.on("server-send-humi_graph", function (data) {
            myChart.data.datasets[1].data = data;
            myChart.update();
           
        });

        socket.on("server-send-temp_graph", function (data) {
            myChart.data.datasets[0].data = data;
            myChart.update();  
           
        });

        socket.on("server-send-date_graph", function (data) {
            myChart.data.labels = data;
            myChart.update();
            
        });

        // ------------- RTC ------------
        var timeDisplay = document.getElementById("time");
        function refreshTime() {
            var dateString = new Date().toLocaleString("en-US", { timeZone: "Asia/Jakarta" });
            var formattedString = dateString.replace(", ", " - ");
            timeDisplay.innerHTML = formattedString;
        }

        setInterval(refreshTime, 1000);
        // ------------------------------
        
    </script>
</body>

</html>