<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="chart.js"></script>
    <script src="jquery.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="images/logo.png" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">Smart</span>
                    <span class="profession">home</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/devices">
                            <i class='bx bx-devices icon'></i>
                            <span class="text nav-text">Devices</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/history">
                            <i class='bx bx-history icon'></i>
                            <span class="text nav-text">History</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Sign Out</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div>
        <div id="checkbox-container">
            <div >
                <h3>On</h3>              
                <label class="btn-control">
                    <input type="checkbox"  id="livingroomLight" >
                    <span class="slider round"></span>
                </label>
                <img class="" style="width:54px; height:50px; left:8px; position: relative" src="images/heroicons-outline_light-bulb.png" alt="">
                <h3 class="name-devi">Lights</h3>
            </div>
            <div >
                <h3>On</h3>
                <label class="btn-control">
                    <input type="checkbox" id="livingroomAirConditioner" >
                    <span class="slider round"></span>
                </label>
                <img class="" style="width:45px; height:40px; left:8px; position: relative" src="images/pump.png" alt="">
                <h3 class="name-devi">Pump</h3>
            </div>
            <div class="card-btn">
                <h3>On</h3>
                <label class="btn-control">
                    <input type="checkbox"  id="television">
                    <span class="slider round"></span>
                </label>
                <img class="" style="width:50px; height:50px; left:8px; position: relative" src="images/fan.png" alt="">
                <h3 class="name-devi">Fan</h3>

            </div>
            <div class="card-btn">
                <h3>On</h3>
                <label class="btn-control">
                    <input type="checkbox" id="bedroomLight">
                    <span class="slider round"></span>
                </label> 
                <img class="" style="width:54px; height:50px; left:8px; position: relative" src="images/carbon_temperature-celsius.png" alt="">
                <h3 class="name-devi">Heater</h3>
            </div>
        </div>
    </div>
    </section>
    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");
        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");
            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";
            }
        });


        var formValues = JSON.parse(localStorage.getItem('formValues')) || {};
        var $checkboxes = $("#checkbox-container :checkbox");
        var $button = $("#checkbox-container button");

        function allChecked() {
            return $checkboxes.length === $checkboxes.filter(":checked").length;
        }

        function updateButtonStatus() {
            $button.text(allChecked() ? "Uncheck all" : "Check all");
        }

        function handleButtonClick() {
            $checkboxes.prop("checked", allChecked() ? false : true)
        }

        function updateStorage() {
            $checkboxes.each(function () {
                formValues[this.id] = this.checked;
            });

            formValues["buttonText"] = $button.text();
            localStorage.setItem("formValues", JSON.stringify(formValues));
        }

        $button.on("click", function () {
            handleButtonClick();
            updateButtonStatus();
            updateStorage();
        });

        $checkboxes.on("change", function () {
            updateButtonStatus();
            updateStorage();
        });

        // On page load
        $.each(formValues, function (key, value) {
            $("#" + key).prop('checked', value);
        });

        $button.text(formValues["buttonText"]);
    </script>
</body>

</html>